<?xml version="1.0" encoding="utf-8"?>
<!-- the root web configuration file -->
<configuration>
  <system.webServer>
      <httpProtocol>
          <customHeaders>
              <add name="Access-Control-Allow-Origin" value="*" />
          </customHeaders>
      </httpProtocol>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="D:\home\smartdesk.cloud\tmp" />
  </system.web>
</configuration>
