<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="logPath" value="C:\Users\Valeria\Desktop\lavoro\rswstudio-schedular\log.txt"/>
		<add key="lockPath" value="C:\Users\Valeria\Desktop\lavoro\rswstudio-schedular\lock.txt"/>
		<add key="filePath" value="C:\Users\Valeria\Desktop\lavoro\rswstudio-schedular\file.txt"/>
		<add key="days" value="5"/>
		<add key="administratoremail" value="valeriabaleanu@gmail.com"/>
	</appSettings>
	<connectionStrings>
		<add name="RSWSTUDIO.rswcrmro.net" connectionString="Password=a2ZMH3G6XQAahe;Persist Security Info=True;User ID=sa;Initial Catalog=Db_Rsw;Data Source=VALE\SQLEXPRESS"/>
	</connectionStrings>
</configuration>
