	<div class="grid-x grid-padding-x">
		<div class="large-2 medium-2 small-4 cell">
			<label for="Anagrafiche_RagioneSociale" class="large-text-right">Anagrafica <i class="fa-duotone fa-users fa-fw"></i></label>
		</div>
		<div class="auto cell end">
			<% if (GetFieldValue(dtCommesse, "Anagrafiche_Ky")!=null && GetFieldValue(dtCommesse, "Anagrafiche_Ky").Length>0){ %>
			<i class="fa-duotone fa-user fa-fw"></i><%=GetFieldValue(dtCommesse, "Anagrafiche_RagioneSociale")%>
			<% } %>
		</div>
		<div class="large-2 medium-2 small-4 cell">
			<label for="Commesse_Titolo" class="large-text-right">Titolo <i class="fa-duotone fa-tag fa-fw"></i></label>
		</div>
		<div class="auto cell end">
			<%=GetFieldValue(dtCommesse, "Commesse_Titolo")%>
		</div>
	</div>

	<div class="grid-x grid-padding-x">
		<div class="large-2 medium-2 small-4 cell">
			<label for="Commesse_Descrizione" class="large-text-right">Descrizione</label>
		</div>
		<div class="auto cell end">
			<%=GetFieldValue(dtCommesse, "Commesse_Descrizione")%>
		</div>
		<div class="large-2 medium-2 small-4 cell">
			<label class="large-text-right">Riferimenti <i class="fa-duotone fa-file-lines fa-fw"></i></label>
		</div>
		<div class="auto cell end">
			<%=GetFieldValue(dtCommesse, "Commesse_Riferimenti")%>
		</div>
	</div>
  
	<div class="grid-x grid-padding-x">
  	<div class="large-2 medium-2 small-4 cell">
			<label for="CommesseStato_Ky" class="large-text-right small-text-left">Stato <i class="fa-duotone fa-file-lines fa-fw"></i></label>
		</div>
		<div class="auto cell end">
      <%=GetFieldValue(dtCommesse, "CommesseStato_Titolo")%>
		</div>
		<div class="large-2 medium-2 small-4 cell">
			<label for="Commesse_Data" class="large-text-right small-text-left">Data <i class="fa-duotone fa-calendar-days fa-fw"></i></label>
		</div>
		<div class="auto cell end">
      <%=GetFieldValue(dtCommesse, "Commesse_Data_IT")%>
		</div>
	</div>

	<% if (GetFieldValue(dtCommesse, "Commesse_Note").Length>0){ %>
  <div class="grid-x grid-padding-x">
		<div class="large-2 medium-2 small-4 cell">
			<label for="Commesse_Note" class="large-text-right small-text-left">Note</label>
		</div>
		<div class="auto cell end">
			<%=GetFieldValue(dtCommesse, "Commesse_Note")%>
		</div>
	</div>
  <% } %>
