  <div class="grid-x grid-padding-x">
  	<div class="large-2 medium-2 small-4 cell">
  		<label for="Faq_PubblicaWEB" class="large-text-right small-text-left middle"><i class="fa-duotone fa-file-lines fa-fw"></i>Pubblica</label>
  	</div>
  	<div class="large-2 medium-2 small-8 cell">
        <input class="switch-input" type="checkbox" name="Faq_PubblicaWEB" id="Faq_PubblicaWEB" value="on" <% if (GetCheckValue(dtFaq, "Faq_PubblicaWEB")){ Response.Write("checked");} %> />
        <label class="switch-paddle" for="Faq_PubblicaWEB">
          <span class="show-for-sr">si</span>
          <span class="switch-active" aria-hidden="true"><i class="fa-duotone fa-square-check fa-fw fa-lg"></i></span>
          <span class="switch-inactive" aria-hidden="true"></span>
        </label>
  	</div>
	</div>
	<div class="grid-x grid-padding-x">
		<div class="large-2 medium-2 small-4 cell">
			<label for="Anagrafiche_RagioneSociale" class="large-text-right">Anagrafica <i class="fa-duotone fa-users fa-fw"></i></label>
		</div>
		<div class="large-4 medium-4 small-8 cell">
		  <!--#include file="/admin/app/contenuti/forms/anagrafiche_seleziona_form.htm"--> 
	  </div>
		<div class="large-2 medium-2 small-4 cell">
			<label for="Faq_Data" class="large-text-right small-text-left middle">Data<i class="fa-duotone fa-calendar-days fa-fw"></i></label>
		</div>
		<div class="large-4 medium-4 small-8 cell">
      <input type="text" name="Faq_Data" id="Faq_Data" value="<%=GetFieldValue(dtFaq, "Faq_Data_IT")%>" class="fdatepicker txt required" size="10">
      <span class="form-error">Obbligatorio</span>
		</div>
  </div>
		
	<div class="grid-x grid-padding-x">
  	<div class="large-2 medium-2 small-4 cell text-right">
   		<label class="large-text-right small-text-left middle" for="FaqCategorie_Ky">Categoria Faq</label>
 	  </div>
  	<div class="large-4 medium-4 small-8 cell">
			<select name="FaqCategorie_Ky" id="FaqCategorie_Ky" value="<%=GetFieldValue(dtFaq, "FaqCategorie_Ky")%>" required="required">
			<option value=""></option>
			<%
			for (int i = 0; i < dtFaqCategorie.Rows.Count; i++){
				Response.Write("<option value=\"" + dtFaqCategorie.Rows[i]["FaqCategorie_Ky"].ToString() + "\">" + dtFaqCategorie.Rows[i]["FaqCategorie_Titolo"].ToString() + "</option>");
			}
			%>
	    </select>
	    <span class="form-error">Obbligatorio</span>
	    <script type="text/javascript">
	      selectSet('FaqCategorie_Ky', '<%=GetFieldValue(dtFaq, "FaqCategorie_Ky")%>');
	    </script>
  	</div>
		<div class="large-2 medium-2 small-4 cell">
			<label for="ProdottiCategorie_Ky" class="large-text-right small-text-left middle">Categoria prodotti <i class="fa-duotone fa-building fa-fw"></i></label>
		</div>
		<div class="large-4 medium-4 small-8 cell">
    	<% if (dtProdottiCategorie!=null && dtProdottiCategorie.Rows.Count>0){ %>
        <select name="ProdottiCategorie_Ky" id="ProdottiCategorie_Ky">
        <option value=""></option>
					<%
					for (int i = 0; i < dtProdottiCategorie.Rows.Count; i++){
						Response.Write("<option value=\"" + dtProdottiCategorie.Rows[i]["ProdottiCategorie_Ky"].ToString() + "\">" + dtProdottiCategorie.Rows[i]["ProdottiCategorie_Titolo"].ToString() + "&nbsp;-&nbsp;" + dtProdottiCategorie.Rows[i]["ProdottiCategorie_Titolo"].ToString() + "</option>");
					}
					%>
        </select>
        <script type="text/javascript">
          selectSet('ProdottiCategorie_Ky', '<%=strProdottiCategorie_Ky%>');
        </script>
      <% }else{ %>
      	<input type="hidden" name="ProdottiCategorie_Ky" id="ProdottiCategorie_Ky" value="" />
      	Nessun categoria caricata
      <% } %>
		</div>
  </div>
  
	<div class="grid-x grid-padding-x">
  	<div class="large-2 medium-2 small-4 cell text-right">
  		<label class="large-text-right small-text-left middle" for="Lingue_Ky">Lingua <i class="fa-duotone fa-language fa-fw"></i></label>
  	</div>
  	<div class="large-4 medium-4 small-8 cell">
			<select name="Lingue_Ky" id="Lingue_Ky" value="<%=GetFieldValue(dtFaq, "Lingue_Ky")%>" required="required">
        <!--#include file="/var/cache/Lingue-options.htm"--> 
      </select>
      <script type="text/javascript">
        selectSet('Lingue_Ky', '<%=GetFieldValue(dtFaq, "Lingue_Ky")%>');
      </script>
  	</div>
		<div class="large-2 medium-2 small-4 cell">
			<label for="CMSLink_Tags" class="text-right middle">Tags <i class="fa-duotone fa-list fa-fw"></i></label>
		</div>
		<div class="large-4 medium-4 small-8 cell">
			<select name="Faq_Tags" id="Faq_Tags" multiple class="select2" value="<%=GetFieldValue(dtFaq, "Faq_Tags")%>">
				<option value=""></option>
		    <%
				for (int i = 0; i < dtCMSTags.Rows.Count; i++){
					Response.Write("<option value=\"" + dtCMSTags.Rows[i]["CMSTags_Ky"].ToString() + "\">" + dtCMSTags.Rows[i]["CMSTags_Titolo"].ToString() + "</option>");
				}
				%>
			</select>
			<script type="text/javascript">
				selectSetMultiple('Faq_Tags', '<%=GetFieldValue(dtFaq, "Faq_Tags")%>');
			</script>
			<span class="form-error">Obbligatorio</span>
		</div>
	</div>	


	<div class="grid-x grid-padding-x">
		<div class="large-2 medium-2 small-12 cell">
			<label for="Faq_Domanda" class="large-text-right small-text-left middle">Domanda <i class="fa-duotone fa-file-lines fa-fw"></i></label>
		</div>
		<div class="large-10 medium-10 small-12 cell contenuto">
      <textarea name="Faq_Domanda" id="Faq_Domanda" rows="3" required="required" class="ckfinder required"><%=GetFieldValue(dtFaq, "Faq_Domanda")%></textarea>
	    <script type="text/javascript">
	    CKEDITOR.replace('Faq_Domanda',
	    	{
	      	filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
	      	filebrowserUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files'
	    	});
  		CKFinder.setupCKEditor( editor, null, { type: 'Files', currentFolder: '/uploads/foto-contenuti/' } );
	    </script>
      <span class="form-error">Obbligatorio</span>
		</div>
	</div>
	
	<div class="grid-x grid-padding-x">
		<div class="large-2 medium-2 small-12 cell">
			<label for="Faq_Risposta" class="large-text-right small-text-left middle">Risposta <i class="fa-duotone fa-file-lines fa-fw"></i></label>
		</div>
		<div class="large-10 medium-10 small-12 cell contenuto">
      <textarea name="Faq_Risposta" id="Faq_Risposta" rows="3" required="required" class="ckfinder required"><%=GetFieldValue(dtFaq, "Faq_Risposta")%></textarea>
	    <script type="text/javascript">
	    CKEDITOR.replace('Faq_Risposta',
	    	{
	      	filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
	      	filebrowserUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files'
	    	});
  		CKFinder.setupCKEditor( editor, null, { type: 'Files', currentFolder: '/uploads/foto-contenuti/' } );
	    </script>
      <span class="form-error">Obbligatorio</span>
		</div>
	</div>
